{# Item/Index #}

{% extends "FirstBundle:Layouts:layout.html.twig" %}

{% block title %}
    Statistiques

{% endblock  %}

{% block content %}
    <div class="container">

        {# Frise qui propose tous les tours #}
        <div id="tours-breadcrumb" class="row tours-breadcrumb">
            {% for it in it_numbers %}
                {%  set class = '' %}
                {% if it == iteration %}
                    {%  set class = 'tour-span-negative' %}
                {%  else %}
                    {%  set class = 'tour-span' %}
                {%  endif %}
                <span id="breadcrumb-tour-{{ it }}" class="col-xs-1 {{ class }}" onclick="loadTour({{ it }})">
                    <center>{{ it }}</center>
                </span>

            {% endfor %}
        </div>


        {# Affichage des stats globales du tour#}
        <div class="row">
            <div class="col-xs-5">

                <h1>Tour n° <div id="iteration">{{ iteration }}</div></h1>
            </div>
            <div class="col-xs-2">
                Items : <span id="items_done">{{ stats.items.done }}</span>/<span id="items_total">{{ stats.items.total }}</span>
                <br>
                Matieres : <span id="fields_done">{{ stats.fields.done }}</span>/<span id="fields_total">{{ stats.fields.total }}</span>
            </div>
            <div class="col-xs-5">
                <div class="loader-container ">
                    {#<div class="progression">#}
                        <progress id="global_progress" max="{{ stats.items.total }}" value="{{ stats.items.done }}" class="progress-bar-custom"></progress>
                    {#</div>#}
                </div>
                {#<i>// TODO : Barre de %progression à <span id="items_percentage">{{ stats.items.percentage }}</span>%</i>#}


            </div>
        </div>
        <hr>
        {# Affichage des stats pour chaque matière #}
        <div class="row">
            <div class="panel-custom">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                        <h2>Matières</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-11 col-md-11">
                            {% for id, field in stats.fields_stats %}
                                <div class="row">
                                    <div class="col-xs-2 col-md-2">
                                        <b>
                                            &nbsp;&nbsp;{{ field.field_name | slice(0,13) }}
                                        </b>
                                    </div>
                                    <div class="col-xs-10 col-md-10">
                                        <div class="progress-field shadow-box" style="background-color:white">
                                            {#<div id="progress-field-{{ id }}"  style="width:{{ field.percentage }}%;background-color:{{ field.color }}">#}
                                            <div id="progress-field-{{ id }}" class="transition" style="width:0%;background-color:{{ field.color }}">
                                                <div id="percentage-field-{{ id }}" class="text-center percentage">
                                                    {{ field.percentage }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <hr>

            </div>
        </div>




    </div>


{% endblock  %}

{% block js_scripts %}


<script type="text/javascript">

    var pie_charts = [];

    var old_iteration = {{ iteration }};

    var generateProgression = function(stats){

        //pour chaque matière
        for(var id in stats){

            var field = stats[id];

            //on récupère la couleur et l'avancement
            var percentage = field.percentage;
            var color = field.color;

            //on met à jour le remplissage de la barre de progression
            $("#progress-field-" + id).attr("style", "width:"+percentage+"%; background-color:"+color);

            //on maj le pourcentage écrit
            $("#percentage-field-"+ id).html(percentage);
        }
    };

    $(document).ready(function(){
//            alert("nikoumouk");

        var stats = {{ stats.fields_stats | json_encode | raw }};

        generateProgression(stats);

    });

    //on appelle en ajax les données pour le nouveau tour selecionné et on génère les graphes a nouveau
    function loadTour(iteration){

        //url de l'action cible
        var url = '{{ path('stats_tour', {'workset_id' : workset_id}) }}?iteration=' + iteration;

        $.get(
                url
        )
        .done(function(data){

            //on change le style du tour qui a été quitté (normal)
            $("#breadcrumb-tour-"+old_iteration).prop('class', 'col-xs-1 tour-span');

            console.log("#breadcrumb-tour-"+iteration);
            //on change le style du nouveau tour (negative)q
            $("#breadcrumb-tour-"+iteration).prop('class', 'col-xs-1 tour-span-negative');

            console.log("old : " + old_iteration + "\n new : " + iteration);

            old_iteration = iteration;

            console.log("#breadcrumb-tour-"+data.iteration);

            //maj du numéro de tour affiché
            $("#iteration").html(data.iteration);

            console.log(data.stats);

            //maj de sstats globales du tour
            //ITEMS
            $("#items_done").html(data.stats.items.done);
            $("#items_total").html(data.stats.items.total);
            $("#items_percentage").html(data.stats.items.percentage);
            //FIELDS
            $("#fields_done").html(data.stats.fields.done);
            $("#fields_total").html(data.stats.fields.total);
            //PROGRESS BAR
            $("#global_progress").attr('max', data.stats.items.total);
            $("#global_progress").attr('value', data.stats.items.done);


            var fieldstats = data.stats.fields_stats;

            generateProgression(fieldstats);
        });

    }



</script>







{% endblock  %}
